<!-- 경기 상세페이지 입니다. -->

<!-- 기본 html 형식과 연결-->
{% extends 'base.html' %}
{% block content %}

<!-- 댓글창 스타일 정의 -->
<style>
    .ntextarea {
        width: 700px; /* 원하는 가로 크기 지정 */
        overflow: auto; /* 스크롤 바가 필요한 경우 나타나도록 설정 */
    }
</style>

<div class="container my-3">
    <!-- 경기제목 -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <!-- 카드 레이아웃 my-3는 상하여백 -->
    <div class="card my-3">
        <div class="card-body">
            <!-- 카드 내용 넣는곳 "white-space: pre-line;" 스타일은 텍스트 
                줄바꿈을 유지하도록 합니다.-->
            <div class="card-text ntextarea" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <!-- "badge" 클래스를 사용하여 부가 정보를 표시합니다. 
                "bg-light" 클래스는 배경색을 밝게 지정하고, "text-dark" 
                클래스는 텍스트 색상을 어두운 색상으로 지정 -->
                <div class="badge bg-light text-dark p-2">
                    {{ question.game_date }}
                </div>
            </div>
        </div>
    </div>
    <!-- 투표기간(경기날짜 전) 이라면 -->
    {% if question.game_date > current_time %}
    <!-- views 에 vote 연결 -->
    <form action="{% url 'movie:vote' question.id %}" method="post">
        {% csrf_token %}
        <br>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <!-- 승리예측을 선택하는 라디오 버튼 추가 -->
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <!-- 버튼에 대한 설명(예>토트넘, 리버풀) -->
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label>
            <!--띄워쓰기 두번 -->
            &nbsp&nbsp
        {% endfor %}
    <!-- 승리 예측 선택후 제출(vote) 버튼 추가 -->
    <input type="submit" value="Vote" class="">
    </form>
    <!-- 이미 투표에 참여했다면 -->
    {% elif error_message %}
        <p>{{ error_message }}</p>

    {% else %}
        <p>투표 기간이 아닙니다.</p>
    {% endif %}

    <br><br>
    <!-- 현재 댓글창 출력 -->
    <h9 class="border-bottom my-3 py-2">{{question.answer_set.count}}개의 댓글이 있습니다.</h9>
    <br>
    {% for answer in question.answer_set.all %}
        [{{ answer.answer_date }}]&nbsp&nbsp&nbsp {{ answer.author.username }} : {{ answer.content }}
    <br>
    {% endfor %}
    <!-- 댓글 등록 -->
    <form action="{% url 'movie:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}

        <!-- 오류표시 Start -->
        {% include "form_errors.html" %}

        <!-- 하위 요소들을 수평으로 배치하기 위한 Flexbox 레이아웃 -->
        <div class="d-flex">
            <!-- textarea는 우선 로그인 상태에서만 접근가능하고,텍스트 입력란
            ntextarea 클래스는 사용자 정의 CSS 스타일을 적용
            rows 속성은 입력란의 초기 행 수를 1로 설정
            onkeypress 이벤트 핸들러를 등록, 이벤트 타겟은 아래에 정의됨 -->
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
            name="content" id="content" class="form-control" rows="1" onkeypress="submitOnEnter(event)"></textarea>
            <!-- btn btn-primary 클래스는 부트스트랩에서 제공하는 버튼 스타일 -->
            <input type="submit" value="등록" class="btn btn-primary" rows="5">
        </div>
    </form>
    
    <!-- 엔터를 눌러도 댓글이 등록되게 자바스크립트 코드 추가-->
    <script>
        function submitOnEnter(event) {
            // 쉬프트와 함께누르면 일반 줄바꿈으로 인식
            if (event.key === 'Enter' && !event.shiftKey) {
                // 아무것도 입력하지 않고 등록하려고하면 막음
                if (event.target.value.trim() === ''){
                    alert('텍스트를 입력하세요.')}
                // 입력된 텍스트가 비어있지 않은 경우
                else{
                    // 이벤트(enter)의 기본 동작(submit)을 방지합니다. 
                    event.preventDefault();
                    // 사용자가 직접 제출 버튼을 누르지 않고 JavaScript 코드를
                    // 사용하여 폼을 서버에 제출
                    event.target.form.submit();
                }
            }
        }
    </script>
</div>
{% endblock %}